@font-face{font-family: 'Cabin-regular';src:url('./fonts/Cabin-Regular.ttf');}
@font-face{font-family: 'marker';src:url('./fonts/PermanentMarker-Regular.ttf');}
.logo{margin-left: 20px;font-size: 1.8em;font-weight: bold;}
.logo a{color: brown;}
#bar-tete{position: absolute;top:0;width: 100%;}
ul{display: flex;flex-direction: row;list-style-type: none;}
.item a{font-family: 'Cabin-Regular';color:white;}
.nav-link{ background: linear-gradient(-30deg, #0b1b3d 50%, #23427c 50%);margin-right: 5px; font-size: 1.2em;}
.nav-link span{position: absolute;}
.nav-link span{top: 0px;left: 0px;width: 30%;height: 3px;
   background: linear-gradient(to left, rgba(8, 20, 43, 0), #23427c);-webkit-animation: 2s animateTop linear infinite;animation: 2s animateTop linear infinite;}
 @keyframes animateTop {
   0% {transform: translateX(100%);}
   100% {transform: translateX(-100%);}
 }
.nav-link:hover{color:white;}
#dessin{position: absolute;top:180px;left:25%;width: 40%;margin:auto;text-align: center;}
#dessin p{font-family: 'marker';font-weight: bold;}
.bouton1{position: absolute;top:500px;right: 50px; background: linear-gradient(-30deg, #0b1b3d 50%, #23427c 50%);  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5); color:white;font-size: 1.2em; padding:5px;font-family: 'Cabin-Regular';}
.bouton1:hover{color: white;text-decoration: none;}
#bandeau{opacity: 0.8;position: absolute;top:850px;background-color: grey;}
#bandeau{height: 40px;color:white;font-size: 1.2em;}
#bandeau p{margin:0;padding-top: 5px;font-family: 'marker';}
#bandeau span{border:3px solid rgb(41, 41, 43);border-radius: 20px;margin-right: 5px;padding:3px;}
#ancreservices h1, #ancrementions h1{font-size: 1.5em;text-align: center;color: rgb(41, 41, 43);}
#ancreservices h2{font-size: 1.2em;color:rgb(41, 41, 43);text-align: center;}
#ancreservices p{text-align: center;color:brown;font-size: 1.6em;font-family: 'Cabin-regular';}
#presentation p, #service1 p, #service2 p{color:rgb(41, 41, 43);font-size: 1.2em;text-align: center;font-family: 'Cabin-regular';}
#presentation .bouton2{background: linear-gradient(-30deg, #0b1b3d 50%, #23427c 50%); box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);color: white;font-size: 1.2em; padding:5px;font-family: 'Cabin-Regular';}
#presentation .bouton2:hover{color: white;text-decoration: none;}
#service1 span, #service2 span{color:brown;}#service1, #service2{margin-top: 50px;display:flex;flex-direction: row;}
.text{width: 50%;}.image{width: 50%;}.image img{background-size: cover;width: 60%;}
#force{background-image: url('./images/fondGris.jpg');}
.card{width: 300px;}#fort{justify-content: space-around;padding-bottom: 50px;}
#fort span{font-size: 1em;color:#23427c;}
#fort p{color:rgb(41, 41, 43);font-family: 'Cabin-regular';}
#force h2{color:brown;font-size: 1.5em;margin-bottom: 30px;padding-top: 20px;font-weight: bold;font-family: 'Cabin-regular';}
.retour{padding-top: 10px;}
.info{margin-top: 30px;}#ancrecontact .info p{color:white;}#bouton{border:3px solid #0b1b3d;}
#ancrecontact{background-color: #7da2e7;height: auto;/*background-image: url('./images/fond2.jpg');width: 100%;background-size: cover;*/}#formulaire{width: 80%;margin:auto;}
#formulaire p{color:rgb(41, 41, 43);font-weight: bold;}.information{color:white;font-family: 'Cabin-regular';}
legend{background-color: #23427c;border-radius:10px;}#formulaire legend p{color:white;}
#bouton3{background: linear-gradient(-30deg, #0b1b3d 50%, #23427c 50%);box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5); font-size: 1.2em; color:white; padding:5px;font-family: 'Cabin-Regular';}
#bouton3:hover{background-color: white;color:#23427c;;text-decoration: none;}
#footer{width:100%;opacity: 0.8;background-color: grey;height: 150px;color:white;font-size: 1em;}
#footer .bouton2{background: linear-gradient(-30deg, #0b1b3d 50%, #23427c 50%);box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5); font-size: 1.2em; padding:5px;font-family: 'Cabin-Regular';font-size: 0.8em;color:white;}
#footer .bouton2:hover{background-color: white;color:#23427c;;text-decoration: none;}
#footer p{margin:0;padding-top: 5px;font-size: 1em;font-weight: bold;color:white;font-family: 'Cabin-regular';}
/**page mentions*/
#ancrementions span{color:#23427c;}
/**responsive**/
@media all and (min-device-width:270px) and (max-width:414px){
   #fond{height: 200px;padding:0px;}#fond video{height: 220px;padding:0px;margin:0px;}
   #dessin{left:25%;width: 40%;margin:auto;text-align: center;}
   #nomarge{display: flex;flex-direction: column;}.nav-item{margin-bottom: 10px;}.bouton1{display:none;}
   #service1, #service2{display:flex;flex-direction: column;width: 100%;}.text, .image{width: 100%;}
   #bandeau{margin-left:0px;width:100%;opacity: 0.8;background-color: grey;}
   .information p{font-size: 1.2em;} #footer{color:white;font-size: 1em;}
}
@media all and (min-device-width:270px) and (max-width:320px){/*ok*/
   #dessin{position: absolute;top:210px;}
   #bandeau{position: absolute;top:390px;height: 200px;}
   #ancreservices{margin-top: 390px;}
   #footer{height: 250px;}
   #ancrementions{margin-top: 390px;}
   #ancrementions img{width: 250px;}
}
@media all and (min-width:360px) and (max-width:375px){/*ok*/
   #dessin{position: absolute;top:220px;}
   #bandeau{position: absolute;top:390px;height: 200px;}
   #ancreservices{margin-top: 390px;}
   #footer{height: 220px;}
   #ancrementions{margin-top: 390px;}
   #ancrementions img{width: 250px;}
}
@media all and (min-width:376px) and (max-width:414px){/*ok*/
   #dessin{position: absolute;top:230px;}
   #bandeau{position: absolute;top:400px;height: 200px;}
   #ancreservices{margin-top: 400px;}
   .information p{font-size: 1.2em;}
   #footer{height: 220px;}
   #ancrementions{margin-top: 390px;}
   #ancrementions img{width: 250px;}
}
@media all and (min-width:416px) and (max-width:550px){/*ok*/
   #dessin{position: absolute;top:130px;left:25%;width: 40%;margin:auto;text-align: center;}
   #bandeau{position: absolute;top:300px;height: 120px;margin-left:0px;width: 95%;}
   #ancreservices{margin-top: 200px;}.bouton1{display:none;}
   .information p{font-size: 1.2em;}
   #footer{height: 220px;text-align: center;}
   #ancrementions{margin-top: 130px;}
   #ancrementions img{width: 250px;} 
}
@media all and (min-width:568px) and (max-width:641px){/*ok*/
   #dessin{position: absolute;top:90px;left:25%;width: 40%;margin:auto;text-align: center;}
   #bandeau{position: absolute;top:300px;height: 120px;margin-left:0px;width: 95%;}
   #ancreservices{margin-top: 200px;}.bouton1{display:none;}
   .information p{font-size: 1.2em;}
   #footer{height: 200px;text-align: center;}
   #ancrementions{margin-top:150px;}
   #ancrementions img{width: 250px;} 
}
@media all and (min-width:650px) and (max-width:769px){/*ok*/
   #dessin{position: absolute;top:90px;left:25%;width: 40%;margin:auto;text-align: center;}
   #bandeau{position: absolute;top:300px;height: 120px;margin-left:0px;width: 95%;}
   #ancreservices{margin-top: 140px;}.bouton1{display:none;}
   .information p{font-size: 1.2em;}
   #footer{height: 220px;text-align: center;}
   #ancrementions{margin-top: 80px;}
   #ancrementions img{width: 250px;} 

}
@media all and (min-width:780px) and (max-width:825px){/*ok*/
   #dessin{position: absolute;top:90px;left:25%;width: 40%;margin:auto;text-align: center;}
   #bandeau{position: absolute;top:300px;height: 90px;margin-left:0px;width: 95%;}
   .bouton1{top:250px;}
   #footer{height: 200px;text-align: center;}
   #ancrementions{margin-top: 37px;}
   #ancrementions img{width: 250px;} 

}
@media all and (min-width:900px) and (max-width:1025px){/*ok*/
   #dessin{position: absolute;top:90px;left:25%;width: 40%;margin:auto;text-align: center;}
   #bandeau{position: absolute;top:300px;height: 90px;margin-left:0px;width: 95%;}
   .bouton{top:250px;}
   #footer{height: 220px;text-align: center;}
   #ancrementions{margin-top:70px;}
   #ancrementions img{width: 250px;} 
}
@media all and (min-width:1100px) and (max-width:1370px){/*ok*/
   #bandeau{position: absolute;top:350px;height: 80px;margin-left:0px;width: 95%;}
   #footer{height: 220px;text-align: center;}
   #ancrementions{margin-top: 50px;}
   #ancrementions img{width: 250px;} 
}